<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./html-head') %>
</head>
<body class="body-css">
  <div class="wrap-body">
    <%- include('./header') %>
    <div class="container body-content-css">
      <%- body %>
    </div>
  </div>
  <%- include('./footer') %>
  <%- script %>
  <%- style %>
  <%- include('./overlays') %>
</body>
</html>
